Tema5/DTD/XSD/Ejemplo.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="nota">
       <xs:complexType>
        <xs:sequence>
          <xs:element name="para" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element name="nombre" type="xs:string"/>
        </xs:sequence>
       </xs:complexType> 
    </xs:element>
</xs:schema>