Tema5/DTD/XSD/5.3/TE54_6.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="alumnos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="alumno">
          <xs:complexType>
            <xs:sequence>
              <xs:element name=""></xs:element>
            </xs:sequence>
            <xs:attribute name="dni" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

  </xs:element>
</xs:schema>